/* You can add global styles to this file, and also import other style files */
h1{
    background-color: red;
    span{
        color: seagreen;
    }
}

h2{
    color: blue;
    span{
        background-color: gray;
    }
}