<div class="row mb-2">
    <h2 class="col text-center">San Jose</h2>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-md-4">
        <p class="lead">Humidity: {{weather.current.humidity}}</p>
        <p class="lead">Current Temperature: {{weather.current.temp}}</p>
        <p class="lead">Low: {{weather.daily[0].temp.min}}</p>
        <p class="lead">High: {{weather.daily[0].temp.max}}</p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <img src="../../assets/images/sanjose.jpg" alt="San Jose" style="width: 400px; height: 300px">
    </div>
</div>
