<h2 class="text-center mb-4">Edit Product</h2>
<div *ngIf="product">
    <div class="row justify-content-center mb-2" *ngIf="errors">
        <div class="col-md-6">
            <p class="text-center" *ngFor="let error of errors | keyvalue">{{error.value}}</p>
        </div>
    </div>
    <form (submit)="updateProduct()">
        <div class="form-group row justify-content-center align-items-center">
            <label class="col-md-3">Name:</label>
            <input (keyup)="validate($event)" type="text" class="col-md-3 form-control" name="name" [(ngModel)]="productToUpdate.name">
        </div>
        <div class="form-group row justify-content-center align-items-center">
            <label class="col-md-3">Quantity:</label>
            <input (keyup)="validate($event)" type="text" class="col-md-3 form-control" name="quantity" [(ngModel)]="productToUpdate.quantity">
        </div>
        <div class="form-group row justify-content-center align-items-center">
            <label class="col-md-3">Price:</label>
            <input (keyup)="validate($event)" type="text" class="col-md-3 form-control" name="price" [(ngModel)]="productToUpdate.price">
        </div>
        <div class="form-group row justify-content-center align-items-center">
            <button type="button" class="btn btn-secondary col-md-1" (click)="reset()">Reset</button>
            <input [disabled]="disabled" type="submit" class="btn btn-primary offset-md-1 col-md-1" value="Submit">
        </div>
    </form>
</div>
<hr>
<div class="row">
    <button class="col btn btn-link text-left" [routerLink]="['/products']">Home</button>
</div>

