<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats Homepage</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div>
        <h1>Cats Homepage</h1>
        <a href="/cuddles">
            <img src="images/kitten.jpg" alt="kitten" height="300px" width="400px">
        </a>
        <br>
        <a href="/bubbles">
            <img src="images/kitten2.png" alt="another kitten" height="300px" width="400px">
        </a>
    </div>
</body>
</html>