<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <br>
        <label for="quote">Quote:</label>
        <textarea name="quote" id="quote" rows="3"></textarea>
        <br>
        <br>
        <input type="submit" value="Submit">&emsp;<a href="/quotes">Go to Quotes</a>
    </form>
</body>
</html>